@font-face {
  font-family: "Alanus";
  src: url("../fonts/alanya/Alanus.ttf");
}

@font-face {
  font-family: "Negotiate Rg";
  src: url("../fonts/negotiate/negotiate rg.ttf");
}

@font-face {
  font-family: "Nirmala UI";
  src: url("../fonts/nirmala/Nirmala.ttf");
}
