@import "variables";
@import "fonts";
@import "vendor/bootstrap";
@import "vendor/font-awesome";
@import "vendor/animate-custom"; // originally from ascends template's animate custom.css
@import "vendor/bootstrapValidator";

// general rules
textarea {
	resize: vertical;
}

::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}

::selection {
	background: #f2c2c9;
	color: #a4003a;
	text-shadow: none;
}

// general but more specific
section.row {
  padding-top: $navbar-height;
  min-height: 50vh;

  h1, h2, h3, h4, h5, h6 {
		font-family: $font-family-featured;
    text-align: center;
  }
}

// very specific
// --navbar
.navbar-default {
  box-shadow: 0 0 3px darken($navbar-default-bg, 6.5%);
	font-family: $font-family-navbar;
	letter-spacing: ($font-size-navbar-brand * 0.07);
  .container .navbar-header .navbar-brand {
		font-family: $font-family-featured;
		font-size: $font-size-navbar-brand;
		span {
      color: $brand-primary-dark;
		}
  }
}


// --frontscreen
#home {
  height: 100vh; // the entire viewable screen
  background: url(../img/header_bg.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  //vertical align
  display: flex;
  align-items: center;

  .container {
    .misalogo {
      width: 14em;
    }
    h1 {
			font-family: $font-family-featured;
      font-size: $font-size-featured;
			letter-spacing: ($font-size-featured * 0.07);
      text-align: center;
      margin-top: 0px;
      span { color: $brand-primary-dark; }
    }
    p {
      text-align: center;
      font-size: $font-size-featured-sub;
      font-weight: 300;
      letter-spacing: 1px;
    }
    .btn {
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      &:hover, &:focus {
        color: #555;
        background-color: #fff;
        outline: 0px;
        border: 1px solid #fff;
      }
    }
  }
}


// --contact section
#contact {
  text-align: center; // center align address
}

#misa-address {
  text-align: left;
}

#misa-address, #misa-email {
  display: inline-block; // center align address
}


// --media queries
@media screen and (max-width:769px) {
  #home .container {
    h1 {
      font-size: ($font-size-featured / 2);
    }
    p {
      font-size: ($font-size-featured-sub / 2);
    }
  }
}
