@import "variables";
@import "fonts";
@import "vendor/bootstrap";
@import "vendor/font-awesome";
@import "vendor/animate-custom"; // originally from ascend template's animate custom.css
@import "vendor/bootstrapValidator";

// custom variables here
$font-family-featured:						"Guild of Professional Actors", Helvetica, Arial, sans-serif;

// custom mixins here
@mixin optima-text() {
	font-family: $font-family-featured;
	color: #fff;
	span { color: #a4f8c3; }
}

// general rules
textarea {
	resize: vertical;
}

::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}

::selection {
	background: #f2c2c9;
	color: #a4003a;
	text-shadow: none;
}

// general but more specific
section	 {
  padding-top: $navbar-height;
  padding-bottom: ($navbar-height / 2);
  min-height: 100vh;

  h1, h2, h3, h4, h5, h6 {
		font-family: $font-family-base;
    text-align: center;
  }
}

// very specific
// --navbar
.navbar-default {
  box-shadow: 0 0 3px darken($navbar-default-bg, 6.5%);
  .container {
		.navbar-collapse {
      text-transform: uppercase;
			.navbar-text {
				font-size: $font-size-small;
				font-style: italic;
				span { font-weight: bold; }
			}
		}
		.navbar-header .navbar-brand {
			color: $brand-primary;
			span { color: #5ad797; }
			font-size: 42px;
			font-family: $font-family-featured;
		}
  }
}

// --loaderscreen
#loader {
	position: fixed;
	z-index: 2000;
	height: 100vh;
	width: 100vw;
  background-image: url(../img/loader_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
  background-size: cover;
  display: flex;
	justify-content: center;
  align-items: center;

	.fa {
		color: #a4f8c3;
	}
}
// --end loaderscreen

// --frontscreen
#home {
  height: 100vh; // the entire viewable screen
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
	margin: 0px;

  //vertical align
  display: flex;
  align-items: center;

  .container {
    .misalogo {
      width: 150px;
			height: auto;
			margin: 0px 0px 20px;
    }
		a img {
			width: 75px;
			height: auto;
		}
    h1 { @include optima-text(); }
    p {
      font-weight: 300;
			font-style: italic;
			margin: 0px 0px 20px;
			span {
	      font-weight: 700;
			}
    }
  }
}
// --end frontscreen

// --about
#about {
	color: #000;
}
// --end about

// --speakers
#speakers {
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
// --end speakers

// --faq
#faq {
	color: #000;
}
// --end faq

// --register
#register {
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
// --end register

// --contact section
#contact {
	color: #000;
  text-align: center; // center align address
	h1 { margin-bottom: 20px }
	.fa {
		color: $brand-primary;
		margin-bottom: 20px;
	}
	#contactInfo {
		margin-bottom: 60px;
	}
}

#misa-address {
  text-align: left;
}

#misa-address, #misa-email {
  display: inline-block; // center align address
}

#footer {
	background-color: #42413f;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #999;
	a {
		color: #999;
		&:hover, &:focus {
			color: $brand-primary;
		}
	}
}


// --media queries
@media screen and (max-width:769px) {
  #home .container {
    h1 {
      font-size: (150px / 2);
    }
    p {
      font-size: (36px / 2);
    }
  }
}
